<div class="navbar-container navbar-container-m-sticky js-sticky">
  <nav class="navbar navbar-m-inverted">
    <div class="container">
      <div class="navbar--brand">
        <a href="/">Oozou</a>
      </div>
      <div class="navbar--menu">

        <ul class="nav-menu">
          <li><a href="/work">Work</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="http://blog.oozou.com/">Blog</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>


<div class="jumbotron">
  <div class="jumbotron--content">
    <header class="page-header">
      <h1>Thank You!</h1>
      <p class="tagline">Thanks for getting in touch with us at Oozou.</p>
      <p class="tagline">One of our team will get back to you as soon as possible to find out a bit more about how we can help.</p>
      <br>
      <p class="tagline">In the meantime, why not check out our  page or follow us on </p>
    </header>
  </div>
</div>

<iframe id="frame-onFontResize1431231276000" style="width: 100em; height: 10px; position: absolute; border-width: 0px; top: -5000px; left: -5000px;"></iframe>