<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>网站用户： <%= @user.name %></h1>
<p>
 用户联系方式： <%= @user.phone %>.<br>
</p>
<p>
  用户需求：<%= @user.idea %>.
</p>
<p>
  览器信息：<%=@browser %>
</p>

<p>Have a great day!</p>
</body>
</html>