<div class="jumbotron jumbotron-m-people">
  <div class="jumbotron--content container">
    <header class="page-header">
      <h1>Meet the Team</h1>

      <p class="tagline">Our full-time staff are immersed in a culture of learning, sharing, &amp; fun.</p>
    </header>
  </div>
</div>

<section class="people">
  <div class="container">
    <span class="people--text people--text-m-1">Great</span>
    <span class="people--text people--text-m-2">Minds</span>
    <span class="people--text people--text-m-3">Think</span>
    <span class="people--text people--text-m-4">Alike</span>
    <ul>
      <li class="person">
        <p class="person--image">
          <img alt="Jan J." data-at2x="/images/people/person/Jan_2x-1b1277ec.png"
               src="/images/people/person/Jan-ecf7d1d9.png">
        </p>

        <p class="person--description">
          <strong>Jan J.</strong>
          <span class="person--title">CEO, Maid, Developer, etc.</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Art W." data-at2x="/images/people/person/Art_2x-6e543013.png"
               src="/images/people/person/Art-d3655119.png">
        </p>

        <p class="person--description">
          <strong>Art W.</strong>
          <span class="person--title">iOS Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Bas A." data-at2x="/images/people/person/Bas_2x-28f324d7.png"
               src="/images/people/person/Bas-c992de9c.png">
        </p>

        <p class="person--description">
          <strong>Bas A.</strong>
          <span class="person--title">iOS Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Boat J." data-at2x="/images/people/person/Boat_2x-1d8eaca3.png"
               src="/images/people/person/Boat-99ac1042.png">
        </p>

        <p class="person--description">
          <strong>Boat J.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Book N." data-at2x="/images/people/person/Book_2x-9157356f.png"
               src="/images/people/person/Book-dc369ff9.png">
        </p>

        <p class="person--description">
          <strong>Book N.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Constantin H." data-at2x="/images/people/person/Const_2x-9708a1c2.png"
               src="/images/people/person/Const-e51c8404.png">
        </p>

        <p class="person--description">
          <strong>Constantin H.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Dev A." data-at2x="/images/people/person/Dev_2x-033aa60d.png"
               src="/images/people/person/Dev-7c4706cd.png">
        </p>

        <p class="person--description">
          <strong>Dev A.</strong>
          <span class="person--title">Project Manager</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Hlung K." data-at2x="/images/people/person/Hlung_2x-e6c93112.png"
               src="/images/people/person/Hlung-3bb2d6d2.png">
        </p>

        <p class="person--description">
          <strong>Hlung K.</strong>
          <span class="person--title">iOS Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Ing W." data-at2x="/images/people/person/Ing_2x-3bb896a7.png"
               src="/images/people/person/Ing-4efdad3c.png">
        </p>

        <p class="person--description">
          <strong>Ing W.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Jeep K." data-at2x="/images/people/person/Jeep_2x-ba79245c.png"
               src="/images/people/person/Jeep-bbd9aba0.png">
        </p>

        <p class="person--description">
          <strong>Jeep K.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Jeezy B." data-at2x="/images/people/person/Jeezy_2x-b372f493.png"
               src="/images/people/person/Jeezy-b7a2fd77.png">
        </p>

        <p class="person--description">
          <strong>Jeezy B.</strong>
          <span class="person--title">Office Manager</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Jo P." data-at2x="/images/people/person/Jo_2x-4395be65.png"
               src="/images/people/person/Jo-bb64112b.png">
        </p>

        <p class="person--description">
          <strong>Jo P.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Kelly K." data-at2x="/images/people/person/Kelly_2x-4f362045.png"
               src="/images/people/person/Kelly-aece064e.png">
        </p>

        <p class="person--description">
          <strong>Kelly K.</strong>
          <span class="person--title">Business Development</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Michael K." data-at2x="/images/people/person/Michael_2x-b8ad7026.png"
               src="/images/people/person/Michael-73a73147.png">
        </p>

        <p class="person--description">
          <strong>Michael K.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Mon T." data-at2x="/images/people/person/Mon_2x-c2dec6e9.png"
               src="/images/people/person/Mon-5a3604f7.png">
        </p>

        <p class="person--description">
          <strong>Mon T.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Nadia T." data-at2x="/images/people/person/Nadia_2x-7a21f6ff.png"
               src="/images/people/person/Nadia-2d1c6dcf.png">
        </p>

        <p class="person--description">
          <strong>Nadia T.</strong>
          <span class="person--title">Designer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Neng L." data-at2x="/images/people/person/Neng_2x-b7b05384.png"
               src="/images/people/person/Neng-bd79fa99.png">
        </p>

        <p class="person--description">
          <strong>Neng L.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Neung Z." data-at2x="/images/people/person/Neung_2x-456ce797.png"
               src="/images/people/person/Neung-4a595539.png">
        </p>

        <p class="person--description">
          <strong>Neung Z.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Nut T." data-at2x="/images/people/person/Nut_2x-97815db6.png"
               src="/images/people/person/Nut-8b326385.png">
        </p>

        <p class="person--description">
          <strong>Nut T.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Sunny S." data-at2x="/images/people/person/Sunny_2x-92b34118.png"
               src="/images/people/person/Sunny-1923b83e.png">
        </p>

        <p class="person--description">
          <strong>Sunny S.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Tib K." data-at2x="/images/people/person/Tib_2x-9b19181e.png"
               src="/images/people/person/Tib-6ce8b97d.png">
        </p>

        <p class="person--description">
          <strong>Tib K.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person">
        <p class="person--image">
          <img alt="Vlad R." data-at2x="/images/people/person/Vlad_2x-e8107c2a.png"
               src="/images/people/person/Vlad-9812deba.png">
        </p>

        <p class="person--description">
          <strong>Vlad R.</strong>
          <span class="person--title">Rails Developer</span>
        </p>
      </li>
      <li class="person person-m-you" data-subhover="a">
        <p class="person--image">
          <img alt="+You" data-at2x="<%= image_path('people/person/you_2x-47e00168.png')%>"
               src="<%=image_path('people/person/you-5b13fbfd.png')%>">
          <span class="person--callout">+You</span>
        </p>

        <p class="person--description">
          <strong>
            <a href="mailto:jobs@oozou.com"><span class="person--link-overlay"></span>Apply Now</a>
          </strong>
          <span class="person--title">Send your résumé and join us</span>
        </p>
      </li>
    </ul>
  </div>
</section>


<%= javascript_include_tag "lodash" %>